@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); /* for social media icons */

.content {
	float: right;
	width: 70%;
	margin-left: 5%;
}

.sidebar {
	float: left;
	width: 25%;
}

.site-wrapper {
	position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  padding-bottom: 60px;
}

.blog-logo {
	/* for centering the images */
	float: none;
}

.blog-logo img {
	width: 150px;
	height: 150px;
	margin: auto;	/* centers the image */
}

.post {
	margin: 4rem 2rem;
}

a {
	text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.highlight {
  background-color: #bbb;
}

.sidelist {
  list-style: none;
  padding: 0px;
}

/* navigation bar */

#content ul.taglist {
  position: relative;
  padding: 0;
  margin: 4rem 2rem;
  padding-bottom: 20px;
  border-bottom: #EBF2F6 1px solid;  list-style: none;
  max-width: 710px;
  width: 80%;
  /*
  border-bottom: 1px solid;
  border-left: 1px solid;
  */
}

/* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */
.taglist:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

#content ul.taglist li {
  margin: 0;
  margin-right: .4em;
  padding: .4em 1em;
  text-transform: uppercase;
  color: #111;
  font-size: 14px;
  display: inline;
  cursor: pointer;
  transition: .5s;
  /*
  border-right: 1px solid;
  border-top: 1px solid;
  */
}
#content ul.taglist li:hover {
  background: #545454;
  cursor: pointer;
}
#content ul.taglist li:hover a {
  color: #fff;
}

#content ul.taglist li a {
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
}

/* end of navigation bar */

/* Social media icons */
.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

ul.social-icons { 
  margin-top: 10px;
  list-style: none;
  padding: 0px;

}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #322f30; 
  text-decoration: none;
}

.fa {
  /* background-color: #322f30; */
  background-color: #fff;
  font-size: 20px;
}


.fa-facebook {
  padding:10px 14px 7px 14px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding:10px 10px 7px 10px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-rss {
  padding:10px 12px 7px 12px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding:10px 12px 7px 11px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding:10px 11px 8px 11px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-google-plus {
  padding:10px 10px 7px 10px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-google-plus:hover {
  background-color: #e25714;
}