@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); /* for social media icons */


body {
  background-image: url(../low_contrast_linen.png);
}
.sidebar {
  background: url(/theme/images/textured_paper.png) #f3eee8;
}
.content {
  background: url(/theme/images/textured_paper.png) #fbfaf8;
}

blockquote {
  margin-left: .8em;
}

/* -------------- Project page ----------------- */

.projectList {
    padding-left:0px;

}

.project-entry {
    margin-top:40px;
    margin-bottom:40px;
    border: #BBBBBB 1px solid;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 5px 5px 1px #BBBBBB;
}

.project-entry:hover {
    background: #EEEEEE;
    transition: all 0.6s ease;
}

.project-buttons {
    display: none;
}

.project-buttons ul {
    padding-left: 0px;
    margin-bottom:40px;
}

.project-buttons a:hover {
    border-color: #555;
    color: white;
    background: #4A4A4A;
}

.project-buttons li {
    display: inline;
    list-style:none;
    border-color: rgba(255,255,255,0.6);
}

.project-buttons li a {
    border-radius:5px;
    padding: 4px 15px;
    /*background-color:#008CBA;
    color:white;*/
    text-decoration:none;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 15px;
    /*border: #bfc8cd 1px solid;*/
    border: #777 1px solid;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    transition: all 0.6s ease;
}

/* ----------------- end of project page ---------- */


.content {
	float: right;
	width: 75%;
	padding-left: 5%;
}

.sidebar {
	float: left;
	width: 20%;
}

.site-wrapper {
	position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  padding-bottom: 60px;
}

.blog-logo {
	/* for centering the images */
	float: none;
}

.blog-logo img {
	width: 150px;
	height: 150px;
	margin: auto;	/* centers the image */
}

.post {
	margin: 4rem 2rem;
}

.sidelist a, .taglist a, .box a {
	text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.highlight {
  border-color: #4FC128;
}

.sidelist {
  list-style: none;
  padding: 0px;
}

.sidelist li {
  margin: 0px;
  padding: .5em 1em;
  cursor: pointer;
  font-size: .875em;
  transition: .5s;
  border-left: 5px solid transparent;
}

.sidelist li a {
  display: block;
}

.sidelist li:hover {
  background: rgba(233,234,234,.7);
  border-color: #4FC128;
  cursor: pointer;
}
.sidelist li:hover a {
  /*color: #fff; */
}

/* navigation bar */

#content ul.taglist {
  position: relative;
  padding: 0;
  margin: 4rem 2rem;
  padding-bottom: 20px;
  border-bottom: #EBF2F6 1px solid;  list-style: none;
  max-width: 710px;
  width: 80%;
  /*
  border-bottom: 1px solid;
  border-left: 1px solid;
  */
}

/* Add a little circle in the middle of the border-bottom on our .post
   just for the lolz and stylepoints. */
.taglist:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}

#content ul.taglist li {
  margin: 0;
  margin-right: .4em;
  padding: 1em;
  color: #111;
  font-size: .875em;
  display: inline;
  cursor: pointer;
  transition: .5s;
  border-bottom: 5px solid transparent;
  /*
  border-right: 1px solid;
  border-top: 1px solid;
  */
}
#content ul.taglist li:hover {
  background: rgba(233,234,234,.7);
  border-color: #4FC128;
  cursor: pointer;
}
#content ul.taglist li:hover a {
}

#content ul.taglist li a {
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
}

/* end of navigation bar */

/* Social media icons */
.footer-social-icons {
  display:block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

ul.social-icons { 
  margin-top: 10px;
  list-style: none;
  padding: 0px;

}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #322f30; 
  text-decoration: none;
}

.fa {
  /* background-color: #322f30; */
  background-color: #fff;
  font-size: 20px;
}


.fa-facebook {
  padding:10px 14px 7px 14px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding:10px 10px 7px 10px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-rss {
  padding:10px 12px 7px 12px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding:10px 12px 7px 11px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding:10px 11px 8px 11px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-google-plus {
  padding:10px 10px 7px 10px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-google-plus:hover {
  background-color: #e25714;
}


@media only screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
  }
  .content {
    width: 100%;
    margin-top: 40px;
  }
  ul.taglist {
    width: 100%;
    max-width: 800px;
  }
  ul.taglist li {
    font-size: 10px;
    margin-right: 0em;
  }
}